* {
  background-color: darkolivegreen;
  margin: 0;
  padding: 0;
}

.ppal {
  background-color: darkcyan;
  width: 600px;
  height: 600px;
  position: relative;
  top: 200px;
  bottom: 200px;
  left: 200px;
  right: 200px;
}
.uno {
  background-color: darkgoldenrod;
  width: 200px;
  height: 200px;
  position: absolute;
  margin: auto;
  font-size: 1em;
}
.dos {
  background-color: darkgreen;
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 400px;
  left: 400px;
  margin: auto;
  font-size: 1em;
}
.tres {
  background-color: darkorchid;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 400px;
  right: 400px;
  margin: auto;
  font-size: 1em;
}
.cuatro {
  background-color: darkred;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 400px;
  left: 400px;
  margin: auto;
  font-size: 1em;
}
.cinco {
  background-color: darkblue;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 1em;
}
.pfijo {
  position: fixed;
  width: 100%;
  height: 10%;
  background-color: blueviolet;
  display: block;
  top: 0;
}
